spring:
  application:
    name: notification-service
  data:
    mongodb:
      uri: mongodb://${MONGO_HOST:localhost}:${MONGO_PORT:27017}/${MONGO_INITDB_DATABASE:notification_db}

server:
  port: 8082
