# PostgreSQL database configuration
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB_URL=
POSTGRES_HOST=
POSTGRES_PORT=

# Kafka configuration
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_CONSUMER_GROUP_ID=
ORDER_TOPIC=